@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;900&display=swap');
@import "variables";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: lato;
  font-size: 16px;
}

// Fixed Navbar

nav {
  background: $light-bg-color;
  width: 100%;
  height: 80px;
  position: fixed;
  top:0;
  box-shadow: 2px 1px 2px lightgrey ;

  .fixed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    margin: 0 auto;
    max-width: 1024px;
    height: 100%;
    

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $blue-color;
      color: white;
      height: 45px;
      width: 75px;
      border-radius: 4px;
      border: none;
      font-size: 16px;
      font-family: inherit;

      &:hover {
        @include hover-button;
      }
    }

    h3 {
      font-weight: lighter;
    }
  }
}

// CTA1

.cta1 {
  margin-top: 80px;
  height: 550px;
  background-image: url("../content/bg-masthead.jpg");
  background-position: center;
  background-size: 100% 100%;

  .cta1-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 720px;
    height: 100%;
    margin: 0 auto;
    padding:0 15px;

    h1 {
      color: white;
      font-size: 2.6rem;
      font-weight: 600;
      margin-bottom: 45px;
    }

    .cta-fill {
      input {
      width: 100%;
      height: 40px;
      margin-right: 10px;
      margin-bottom: 10px;
      border: none;
      border-radius: 4px;
      font-size: 1.1rem;
      font-family: inherit;

      &::placeholder {
        padding-left: 10px;
      }
      }

      button {
        background-color: $blue-color;
        color: white;
        border: none;
        border-radius: 4px;
        height: 40px;
        width: 100%;
        font-size: 1.1rem;
        font-family: inherit;

        &:hover {
          @include hover-button;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .cta-fill {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    
    input {
      flex:5;
    }

    button {
      flex: 1.5;
      margin-top: 0;
    }
  }
}

//3-section 1

.three-way1 {
  background-color: $light-bg-color;

  .three-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 20px 30px 20px;

    div {
      text-align: center;
      margin-bottom: 20px;
      max-width: 400px;
      margin-bottom: 60px;
      i {
        color: $blue-color;
        font-size: 3.4rem;
        margin-bottom: 20px;
      }

      h2 {
        font-weight: 600;
        margin-bottom: 10px;
      }
    }
  }

}

@media (min-width: 768px) {
  .three-way1 {
    display: flex;
    justify-content: center;
    .three-wrap {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      max-width: 900px;
      gap: 30px;
    
    }
  }
}

//Main

main {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
  div {

    img {
      width: 100%;
      height: 400px;
      object-fit:cover;
      object-position: left;
      
    }

  }

  div.text {
    padding: 80px;

    h2 {
      margin-bottom: 10px;
      font-size: 1.7rem;
    }

    p {
      line-height: 25px;
    }
  }
  
}

@media (min-width: 768px) {
  main {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 400px;
    
    div:nth-of-type(1) {
      grid-row: 1;
      grid-column: 2/3;
    }

    div:nth-of-type(5) {
      grid-row: 3;
      grid-column: 2/3;
    }

  }
}
//Testimonies

.three-way {
  background-color: $light-bg-color;
  padding: 100px 20px;
  
  .testimonials {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    h2 {
      font-size: 2rem;
      margin-bottom: 45px;
      font-weight: 500;
    }

    div {
      margin-bottom: 50px;


      img {
        width: 200px;
        border-radius: 100%;
        margin-bottom: 10px;
      }

      h3 {
        margin-bottom: 10px;
      }
    }
  }
}


@media (min-width: 768px) {
  .three-way {
    display: flex;
    justify-content: center;
    .testimonials {
      display: flex;
      flex-direction: column;
      max-width: 1024px;
      
      .quotes {
        display: flex;
        justify-content: space-evenly;
        gap: 60px;

        div {
          max-width: 290px;
        }
      }
    }
  }
}

// CTA 2

.cta2 {
  height: 450px;
  background-image: url("../content/bg-masthead.jpg");
  background-position: center;
  display: flex;

  .cta2-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 720px;
    height: 100%;
    margin: 0 auto;
    padding:0 15px;

    h1 {
      
      color: white;
      font-size: 2.6rem;
      font-weight: 600;
      margin-bottom: 45px;
    }

    .cta2-fill {
      input {
      width: 100%;
      height: 40px;
      margin-right: 10px;
      margin-bottom: 10px;
      border: none;
      border-radius: 4px;
      font-size: 1.1rem;
      font-family: inherit;

      &::placeholder {
        padding-left: 10px;
      }
      }

      button {
        background-color: $blue-color;
        color: white;
        border: none;
        border-radius: 4px;
        height: 40px;
        width: 100%;
        font-size: 1.1rem;
        font-family: inherit;

        &:hover {
          @include hover-button;
        }
      }
    }
  }
}

//Footer

footer {
  background-color: $light-bg-color;
  padding: 50px 10px;

  .footer-wrap {
    display: flex;
    flex-direction: column;

    .footer-left {
      text-align: center;
      .links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        a {
          text-decoration: none;
          color: $blue-color;
        }

        p {
          margin: 0 10px;
          color: black;
          font-size: 0.4rem;
        }
      }

      p {
        font-size: 0.9rem;
      }
    }
    

    .social {
      color: $blue-color;
      text-align: center;
      font-size: 30px;
      margin-top: 40px;
      display: flex;
      justify-content: center;
      gap: 35px;
    }
  }
}